<div class="card link-card">
    <div class="card-body link">
        <h4><a href="{{ link.url }}" _target="blank">{{ link.title }}</a></h4>
        <small>{{ link.url }}</small> <br>
        created_at: {{ link.created_at }}

        {% if link.tags %}
            <div class="tags">
                {% for tag in link.tags %}
                <a href="{{ url_for('tag.index', name=tag) }}" class="badge badge-info">{{ tag }}</a> {% endfor %}
            </div>
            {% if current_user.is_authenticated %}
            <!-- <a href="{{ url_for('link.star', linkid=link.id) }}">Star</a> -->
            <button type="button" class="btn btn-outline-secondary star_btn" id="star_btn" data-linkid="{{ link.id }}">Star</button>

            {% else %}
                    <a href="">Star</a>
            {% endif %}
        {% endif %}
    </div>
</div>
