{% extends "layouts.html" %}

{% block title %}
    Index
{% endblock %}

{% block content %}
    <h1>Links</h1>
  {% for link in links %}
    {% include "link/link-info.html" %}
  {% endfor %}

  <br>
  <h1>Websites</h1>
  {%- for website in websites -%}
    {% include "website/website_list.html" %}
  {%- endfor -%}
{% endblock %}


{% block style %}
    <style media="screen">
        .link-card {
            width: 90%;
            margin-bottom: 10px;
        }
        .link-list {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#star_btn").on("click", function(){
            console.log("Star")
        })
        // $("#star_btn").click(function(){
        //     console.log("Star")
        // })
    })
</script>
{% endblock %}
