<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>美国有线电视新闻网_CNN_网站网址_看国外</title>
    <meta name="description" content="{{ website.desc|truncate(length=255) }}" />
    <meta name="keywords" content="{{ website.tags|join(',') }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!-- <meta name="mobile-agent" content="format=html5;url=https://mip.kanguowai.com/site/39.html"> -->
    <!-- <link rel="canonical" href="http://mip.kanguowai.com/site/39.html" /> -->
    <meta property="og:type" content="article" />
    <!-- <meta property="og:image" content="/uploads/allimg/130925/1-1309251H3590-L.gif" /> -->
    <meta property="og:release_date" content="{{ website.updated_at }}" />
    <meta property="og:title" content="{{ website.title }}" />
    <meta property="og:description" content="{{ website.desc|truncate(length=255) }}" />
    <!-- <link rel="shortcut icon" href="https://www.kanguowai.com/favicon.ico"> -->
    <link href="{{ url_for('static', filename='style/style.css') }}" rel="stylesheet" media="screen" type="text/css" />


</head>

<body>
    <!-- Header -->
    <div id="top">
        <div class="wrap">
            <div class="left logo">

                <a href="https://www.kanguowai.com/"><img src="https://www.kanguowai.com/logo.png" alt="国外网站大全" /></a>

            </div>
            <div class="ad728 right">
                <script src="/adjs/ad-6033.js" language="javascript"></script>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- Nav -->
    <div id="navbar">
        <div class="wrap">
            <ul id="nav">
                <li>
                    <a href="https://www.kanguowai.com/">首页</a>
                </li>
                <li>
                    <a href="https://www.kanguowai.com/site/" class="cur">国外网站</a>
                </li>
                <li>
                    <a href="https://www.kanguowai.com/area/">国家划分</a>
                </li>
                <li>
                    <a href="https://www.kanguowai.com/type/">类型划分</a>
                </li>
                <li>
                    <a href="https://www.kanguowai.com/zhuanti/">网站专题</a>
                </li>

            </ul>
            <div id="search">
                <script src="https://www.kanguowai.com/muban2/js/search.js" language="javascript"></script>
            </div>
            <div class="clear"></div>
        </div>

    </div>
    <!-- End Nav -->
    <!-- End Header -->
    <div id="Breadcrumb">
        当前位置：
        <a href="https://www.kanguowai.com" itemprop="url">首页</a> &gt;
        <a href="/beimei/meiguo" itemprop="url">美国</a> &gt;
        <a href="/xinwen" itemprop="url">新闻</a>
        <div class="ad728_15">
            <script src="/adjs/ad-6032.js" language="javascript"></script>
        </div>
    </div>

    <div class="wrap">
        <div class="mainbox left">
            <div class="main2">
                <!-- <div id="contenthead">
                    <h2><a href="https://www.kanguowai.com/plus/so.php?country=66&type=13">美国新闻网站</a></h2>
                </div> -->
                <div class="siteinfo">
                    <div class="sitepic"><img src="/uploads/allimg/130925/1-1309251H3590-L.gif" alt="美国有线电视新闻网_CNN" />
                    </div>
                    <div class="sitelogo">
                        <img src="/uploads/130925/1-1309251H441508.gif" alt="CNN Logo" height="50" width="130">
                    </div>
                    <ul class="baseinfo">
                        <li>
                            <h1>{{ website.title }}</h1>
                        </li>
                        <li class="linfo">国家：
                            <a href="/beimei/meiguo">美国</a>
                        </li>
                        <li class="rinfo">语言: <a href="">英语</a></li>
                        <!-- <li class="rinfo">类型：<a href="/xinwen">新闻</a></li> -->
                        <li class="linfo siteurl">网址：<a rel="nofollow" href="{{ website.url }}"
                                target="_blank">{{ website.url }}</a></li>
                        <li class="rinfo fanyi">翻译：
                            <a rel="nofollow" class="ggfy" title="Google翻译" target="_blank"
                                href="http://translate.google.com/translate?hl=zh-CN&ie=UTF8&langpair=auto|zh-CN&tbb=1&u=http://edition.cnn.com"></a>
                            <a rel="nofollow" class="bdfy" title="百度翻译" target="_blank"
                                href="http://fanyi.baidu.com/transpage?query=http%3A%2F%2Fedition.cnn.com&from=auto&to=zh&source=url&render=1"></a>
                        </li>
                        <li class="linfo goto"><a rel="nofollow" href="{{ website.url }}" target="_blank"
                                id="entersite">进入网站</a></li>
                        <li class="rinfo goto2" id="otherurl"></li>
                        <div class="clear"></div>
                    </ul>
                    <div class="ad432">
                        <script src="/adjs/ad-6041.js" language="javascript"></script>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="sitetext">
                    <span>网站简介：</span>
                    <p>{{ website.desc }}
                    </p>
                </div>
                <div class="sitetag">
                    <div class="tags left">
                        <a href='/tag/guangbo_57_1.html'>广播</a> <a href='/tag/xinwen_43_1.html'>新闻</a> <a
                            href='/tag/meiti_56_1.html'>媒体</a> <a href='/tag/youxiandianshi_82_1.html'>有线电视</a>
                    </div>
                    <div class="pubdate right"><em>更新时间：</em>{{ website.updated_at }}</div>
                    <div class="clear"></div>
                </div>
            </div>
            <!-- End .main2 -->
            <div class="ad790">
                <script src="/adjs/ad-6042.js" language="javascript"></script>
            </div>
            <div class="likesite">

                <div class="likehead">
                    <h3>相关网站</h3>
                </div>
                <ul>
                    <li>
                        <a href="https://www.kanguowai.com/site/11963.html"><img
                                src="/uploads/allimg/1708/1-1FP52215280-L.gif"></a>
                        <p><a href="https://www.kanguowai.com/site/11963.html" title="全美广播事业者联盟">全美广播事业者联盟</a>
                        </p>
                        <p>美国的一个广播业者组织</p>
                    </li>
                    <li>
                        <a href="https://www.kanguowai.com/site/11962.html"><img
                                src="/uploads/allimg/1708/1-1FP5220F60-L.gif"></a>
                        <p><a href="https://www.kanguowai.com/site/11962.html" title="Breitbart_布赖特巴特新闻网">布赖特巴特新闻网</a>
                        </p>
                        <p>美国著名保守派媒体</p>
                    </li>
                    <li>
                        <a href="https://www.kanguowai.com/site/11961.html"><img
                                src="/uploads/allimg/1708/1-1FP5215F40-L.gif"></a>
                        <p><a href="https://www.kanguowai.com/site/11961.html" title="西雅图邮讯报">西雅图邮讯报</a>
                        </p>
                        <p>美国的一份网络报纸</p>
                    </li>
                    <li>
                        <a href="https://www.kanguowai.com/site/11960.html"><img
                                src="/uploads/allimg/1708/1-1FP52150110-L.gif"></a>
                        <p><a href="https://www.kanguowai.com/site/11960.html" title="罗府新报">罗府新报</a>
                        </p>
                        <p>美国的一份日英双语报纸</p>
                    </li>
                    <li>
                        <a href="https://www.kanguowai.com/site/11959.html"><img
                                src="/uploads/1708/1-1FP916332R61.gif"></a>
                        <p><a href="https://www.kanguowai.com/site/11959.html" title="匹兹堡邮报">匹兹堡邮报</a>
                        </p>
                        <p>美国匹兹堡地区的一份日报</p>
                    </li>
                    <li>
                        <a href="https://www.kanguowai.com/site/11933.html"><img
                                src="/uploads/allimg/1707/1-1FH91J5440-L.gif"></a>
                        <p><a href="https://www.kanguowai.com/site/11933.html" title="《化学化工新闻》">化学化工新闻</a>
                        </p>
                        <p>美国的一份化学期刊</p>
                    </li>
                    <li>
                        <a href="https://www.kanguowai.com/site/11920.html"><img
                                src="/uploads/allimg/1707/1-1FHGI0040-L.gif"></a>
                        <p><a href="https://www.kanguowai.com/site/11920.html" title="FM东京">FM东京</a>
                        </p>
                        <p>日本的一家民营广播电台</p>
                    </li>
                    <li>
                        <a href="https://www.kanguowai.com/site/11918.html"><img
                                src="/uploads/allimg/1707/1-1FH61P4140-L.gif"></a>
                        <p><a href="https://www.kanguowai.com/site/11918.html" title="日经CNBC电视台">日经CNBC</a>
                        </p>
                        <p>日本的一家财经新闻台</p>
                    </li>
                    <li>
                        <a href="https://www.kanguowai.com/site/11917.html"><img
                                src="/uploads/1707/1-1FH6210531119.gif"></a>
                        <p><a href="https://www.kanguowai.com/site/11917.html" title="CNBC欧洲台">CNBC欧洲台</a>
                        </p>
                        <p>CNBC旗下欧洲财经新闻台</p>
                    </li>


                    <div class="clear"></div>
                </ul>
            </div>
        </div>
        <!--End .mainbox -->
        <div class="sidebar right">
            <div class="sidebox shaixuan">
                <h3>热门分类</h3>
                <div id="sxbutton">网站筛选</div>
                <div></div>
                <div id="sxbox"></div>

                <ul id="hottype">
                    <li><a href="https://www.kanguowai.com/plus/so.php?area=6&country=66&type=16">美国购物网站</a></li>
                    <li><a href="https://www.kanguowai.com/plus/so.php?area=5&country=57&type=16">英国购物网站</a></li>
                    <li><a href="https://www.kanguowai.com/shipin/">国外视频网站</a></li>
                    <li><a href="https://www.kanguowai.com/sheji/">国外设计网站</a></li>
                    <li><a href="https://www.kanguowai.com/xinwen/">国外新闻网站</a></li>
                    <li><a href="https://www.kanguowai.com/shejiao/">国外社交网站</a></li>
                    <div class="clear"></div>

                </ul>

            </div>
            <div class="a300">
                <script src="/adjs/ad-6038.js" language="javascript"></script>
            </div>

            <div class="a300">
                <script src="/adjs/ad-6036.js" language="javascript"></script>
            </div>

            <div class="sidebox mt10">
                <h3>国外新闻网站 - 最近收录</h3>
                <ul class="listsite">
                    <li><a class="webname2 tips" href="https://www.kanguowai.com/site/11962.html"
                            title="美国著名保守派媒体">Breitbart_布赖特巴特新闻</a>

                        <a class="detail" href="https://www.kanguowai.com/site/11962.html"></a>
                        <a class="visit" href="http://www.breitbart.com" rel="nofollow"></a>
                    </li>
                    <li><a class="webname2 tips" href="https://www.kanguowai.com/site/11961.html"
                            title="美国的一份网络报纸">西雅图邮讯报</a>

                        <a class="detail" href="https://www.kanguowai.com/site/11961.html"></a>
                        <a class="visit" href="http://www.seattlepi.com" rel="nofollow"></a>
                    </li>
                    <li><a class="webname2 tips" href="https://www.kanguowai.com/site/11960.html"
                            title="美国的一份日英双语报纸">罗府新报</a>

                        <a class="detail" href="https://www.kanguowai.com/site/11960.html"></a>
                        <a class="visit" href="http://www.rafu.com" rel="nofollow"></a>
                    </li>
                    <li><a class="webname2 tips" href="https://www.kanguowai.com/site/11959.html"
                            title="美国匹兹堡地区的一份日报">匹兹堡邮报</a>

                        <a class="detail" href="https://www.kanguowai.com/site/11959.html"></a>
                        <a class="visit" href="http://www.post-gazette.com" rel="nofollow"></a>
                    </li>
                    <li><a class="webname2 tips" href="https://www.kanguowai.com/site/11918.html"
                            title="日本的一家财经新闻台">日经CNBC电视台</a>

                        <a class="detail" href="https://www.kanguowai.com/site/11918.html"></a>
                        <a class="visit" href="http://www.nikkei-cnbc.co.jp" rel="nofollow"></a>
                    </li>
                    <li><a class="webname2 tips" href="https://www.kanguowai.com/site/11917.html"
                            title="CNBC旗下欧洲财经新闻台">CNBC欧洲台</a>

                        <a class="detail" href="https://www.kanguowai.com/site/11917.html"></a>
                        <a class="visit" href="http://www.cnbc.com/europe-television/" rel="nofollow"></a>
                    </li>
                    <li><a class="webname2 tips" href="https://www.kanguowai.com/site/11916.html"
                            title="CNBC旗下财经新闻台">CNBC亚洲台</a>

                        <a class="detail" href="https://www.kanguowai.com/site/11916.html"></a>
                        <a class="visit" href="http://www.cnbc.com/asia-business-day/" rel="nofollow"></a>
                    </li>
                    <li><a class="webname2 tips" href="https://www.kanguowai.com/site/11915.html"
                            title="著名财经电视新闻台">CNBC电视台</a>

                        <a class="detail" href="https://www.kanguowai.com/site/11915.html"></a>
                        <a class="visit" href="http://www.cnbc.com" rel="nofollow"></a>
                    </li>
                    <li><a class="webname2 tips" href="https://www.kanguowai.com/site/11914.html"
                            title="英国的一份周报">英国《星期日邮报》</a>

                        <a class="detail" href="https://www.kanguowai.com/site/11914.html"></a>
                        <a class="visit" href="http://www.mailonsunday.co.uk" rel="nofollow"></a>
                    </li>
                    <li><a class="webname2 tips" href="https://www.kanguowai.com/site/11387.html"
                            title="英国的一个娱乐和新闻网站">数码间谍_Digital Spy</a>

                        <a class="detail" href="https://www.kanguowai.com/site/11387.html"></a>
                        <a class="visit" href="http://www.digitalspy.com" rel="nofollow"></a>
                    </li>
                </ul>

            </div>
            <div class="a300">
                <script src="/adjs/ad-6038.js" language="javascript"></script>
            </div>

        </div>
        <!-- End .sidebar -->
        <div class="clear"></div>
    </div>

    <script language="javascript" type="text/javascript" src="https://www.kanguowai.com/muban2/js/jq.js"></script>
    <script language="javascript" type="text/javascript" src="https://www.kanguowai.com/muban2/js/lib.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sxbutton").one("click", function () {
                $("#sxbox").show().load("/muban2/shaixuan.html");
                $("#hottype").css("margin-top", "-1px");
            }), $(".tipw").tipsy({
                delayIn: 200,
                gravity: "w"
            }), $(".tips").tipsy({
                delayIn: 200,
                gravity: "s"
            })
        });
    </script>

    <!-- End .wrap -->
    <div class="ad1100">
        <div class="ad970">
            <script src="/adjs/ad-6037.js" language="javascript"></script>
        </div>
        <div class="ad120">
            <script src="/adjs/ad-6035.js" language="javascript"></script>
        </div>
    </div>
    <div id="footer">
        <div class="wrap">
            <p>
                <a href="https://www.kanguowai.com/site/">国外网站</a>
                <span>|</span>
                <a href="https://www.kanguowai.com/area/">国家划分</a>
                <span>|</span>
                <a href="https://www.kanguowai.com/type/">类型划分</a>
                <span>|</span>
                <a href="https://www.kanguowai.com/zhuanti/">网站专题</a>
                <span>|</span>
                <a href="https://www.kanguowai.com/data/sitemap.html">网站地图</a>
                <span>|</span>
                <script type="text/javascript">
                    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                    document.write(unescape("%3Cspan id='cnzz_stat_icon_5777109'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/stat.php%3Fid%3D5777109' type='text/javascript'%3E%3C/script%3E"));
                </script>
            </p>
            <p>Copyright <em>&copy;</em> 2013-2017 KanGuoWai.com <a
                    href="https://www.kanguowai.com/"><strong>看国外网站大全</strong></a> 版权所有  <a
                    href="http://www.beian.miit.gov.cn" rel="nofollow">渝ICP备13006194号</a></p>
        </div>
    </div>
    <script src="http://cpro.baidustatic.com/cpro/ui/s.js" type="text/javascript"></script>
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F41590a9833b6c49d8865f21a7c21b529' type='text/javascript'%3E%3C/script%3E"));
    </script>


</body>

</html>